%h1
	= I18n.t :welcome_message
.ads_list
	- if @classified_ads.count == 0
		%h2
			= I18n.t :no_ads_added_yet
	- else
		- @classified_ads.each do |ad|
			.ad_item
				%a{href: "/ad/#{ad.id}"}
					= ad.plain_text.first_n_words Count_words_in_ads_preview
					.ad_created_at
						=ad.created_at
