%h1
	= I18n.t :welcome_message
.ads_list
	- @classified_ads.each do |ad|
		.ad_item
			%a{href: "/ad/#{ad.id}"}
				- if ad.images.first
					%img{src: "/system/uploads/#{ad.images.first.filename}"}
				%p
					= $markdown.render(ad.plain_text.first_n_words(Count_words_in_ads_preview)).html_safe
				.ad_created_at
					%p{"data-datetime" => ad.created_at}

