.ad_show
	.title
		= I18n.t :created_at
		%p{"data-datetime" => @ad.created_at}
	.ad_text
		= $markdown.render(@ad.plain_text).html_safe
	.ad_images
		- @ad.images.each do |ad_image|
			.img_review
				%img{src: "/system/uploads/#{ad_image.filename}"}
				%p
					= ad_image.comment