#container
	#content
		%h1
			= I18n.t :welcome_message
		.ads_list
			- if ClassifiedAd.count == 0
				%h2
					= I18n.t :no_ads_added_yet
			- else
				- ClassifiedAd.order('created_at DESC').limit(Count_of_ads).each do |ad|
					.ad_item
						= ad.plain_text
		#new_ad
			= I18n.t :add_new_ads