<div class="img_thumb" id="{{id}}">
	<span data-type="delete_img" class="glyph glyph-close righttop"></span>
	<img src="{{src}}" class="thumb"/>
	<p data-type="comment_img" class="img_comment">{{img_comment}}</p>
	<progress class="upload-progress" value="0" max="100"></progress>
</div>
