<div class="new_ads">
	<div class="new_ads_content">
		<h2><%= I18n.t :enter_ads_text_here%></h2>
		<textarea class="ad_text" wrap="off"></textarea>
		<div class="ad_images">
			<div class="upload-preview">
			</div>
		</div>
	</div>
	<div class="ads_controls">
		<div id="input_file"><%= I18n.t :select_image%></div>
		<div id="confirm"><%= I18n.t :place_ad%></div>
		<div id="cancel"><%= I18n.t :cancel%></div>
		<input class="file" name="logo" type="file" multiple>
	</div>
</div>
