* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	list-style-type: disc;
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 0px;
}

html, body {
	height: 100%;
}

@font-face {
	font-family: 'webglyphs';
	src: url('/assets/fonts/glyphs.eot');
	src: url('/assets/fonts/glyphs.eot?#iefix') format('embedded-opentype'),
	     url('/assets/fonts/glyphs.woff') format('woff'),
	     url('/assets/fonts/glyphs.ttf') format('truetype'),
	     url('/assets/fonts/glyphs.svg#webglyphs') format('svg');
	font-weight: normal;
	font-style: normal;
}

.glyph-btn:before {
  font-size: 20px !important;
  line-height: 5px;
}

.glyph:before {
  font-family: 'webglyphs' !important; 
  font-size: 30px;
  position: relative;
  top: -3px;
  pointer-events: none;
  display: inline-block;
}

.glyph-search {
	height: 43px;
	/*background-color: white;*/
	padding: 1px 0px 0px 0px;
	display: block;
	top: -10px;
	position: relative;
}

.glyph-search:before {
	content: "\F001";
	margin-right: 2px;
	margin-left: 10px;
	top: 13px;
	left: -17px;
}

.glyph-top:before {
  content: "\F002";
  top: 10px;
  margin-right: 11px;
}

.glyph-pointer:before {
  content: "\F003";
  font-size: 14px;
  top: 0px;
}

.glyph-bread-right:before {
  content: "\F004";
  font-size: 9px;
  margin-right: 3px !important;
}

.glyph-close:before {
  content: "\F005";
  font-size: 14px;
  border: 0px solid white;
  text-shadow: 0px 0px 15px rgba(255, 255, 255, 1);
}

.glyph-close {
  cursor: pointer;
}

.glyph-close:hover:before {
  content: "\F005";
  font-size: 14px;
  color: red;
  text-shadow: 0px 0px 5px rgba(255, 255, 255, 1);
}

.glyph-next:before {
  content: "\F006";
  font-size: 14px;
}

.glyph-prev:before {
  content: "\F007";
  font-size: 15px;
}

img {
	border: none;
}

#container {
	text-align: center;
	height: 100%;
	padding: 10px;
}

#content {
	display: inline-block;
	width: 60%;
	height: 100%;
	background-color: #fafafa;
	border: 3px solid #efefef;
	border-radius: 2px;
	position: relative;
	overflow-y: auto;
}

#content h1 {
	padding: 20px 10px;
}

#new_ad, #confirm, #cancel, #input_file, #to_home {
	padding: 20px;
	color: white;
	cursor: pointer;
	border-radius: 3px;
}

#new_ad {
	position: fixed;
	top: 10px;
	left: 10px;
}

#to_home {
	padding: 0;
	position: fixed;
	top: 10px;
	left: 210px;
	display: none;
}

#to_home a {
	padding: 20px;
	display: block;
	text-decoration: none;
	color: white;
}

#to_home a:visited {
	color: #eee;
}


#new_ad, #confirm, #to_home {
	background-color: green;
}

#new_ad:hover, #confirm:hover, #to_home:hover {
	background-color: forestgreen;
}

#confirm, #cancel, #input_file {
	position: relative;
	display: inline-block;
	bottom: 0px;
}

#cancel {
	background-color: crimson;
}

#cancel:hover {
	background-color: red;
}

.new_ads {
	margin: 10px;
	position: relative;
}

.ad_text {
	width: 600px;
	height: 150px;
	border: 2px solid #eaeaea;
	vertical-align: top;
	clear: both;
}

.ad_images {
	width: 600px;
	height: 220px;
	vertical-align: top;
	clear: both;
	margin-top: 10px;
	overflow-y: auto;
}

input.file {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
}

#input_file {
	background-color: navy;
	padding: 20px;
	color: white;
}

#input_file:hover {
	background-color: midnightblue;
}

.thumb {
	clear: both;
	/*width: auto;*/
	display: inline-block;
	height: 100px;
	border: 0px;
}

.new_ads_content {
	display: inline-block;
}

.ads_controls {
	display: block;
	clear: both;
	width: 600px;
}

.righttop {
	position: absolute;
	right: 5px;
	top: 5px;
}

.img_thumb {
	position: relative;
	display: inline-block;
	vertical-align: top;
	margin-right: 10px;
	word-wrap: normal;
}

.img_comment {
	margin-top: 2px;
	margin-bottom: 2px;
}


textarea.form-control {
	display: block;
	border-radius: 3px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.upload-preview {

}

.upload-progress {
	background-color: white;
	color: green;
	opacity: 0.5;
	padding: 1px;
	height: 10px;
	width: 100%;
	position: absolute;
	top: 90px;
}

#success_wrapper, #error_wrapper {
	cursor: pointer;
	width: 100%;
	height: 100px;
	position:fixed;
	top: -200px;
	left: 0;
	z-index:20000;
	opacity: 1;
}

#success_wrapper .data-message, #error_wrapper .data-message {
	pointer-events: none;
	position: absolute;
	top: 5px;
	left: 20px;
	color: white;
}

#success_wrapper .data-message h1, #error_wrapper .data-message h1 {
	font-family:Trebuchet MS,Helvetica,sans-serif;
	font-size:140%;
	font-weight: bold;
	display: block;
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 30px;
	color: white;
}

#success_wrapper .data-transparent, #error_wrapper .data-transparent {
	pointer-events: none;
	width: 100%;
	height: 100%;
	padding:15px;
}

#success_wrapper .data-transparent {
	background-color:#00AE00;
}

#error_wrapper .data-transparent {
	background-color:#AE0000;
}

#success_wrapper [id^='close_'], #error_wrapper [id^='close_'] {
	font-size: 60px;
	position: absolute;
	right: 5px;
	top: 5px;
}

#success_wrapper [id^='close_']:hover, #error_wrapper [id^='close_']:hover {
	-webkit-filter: brightness(0.8);
	-moz-filter: brightness(0.8);
	-o-filter:  brightness(0.8);
	-ms-filter:  brightness(0.8);
	opacity: inherit;
}

#not_loaded_yet {
	background-color: #fafafa;
	position: fixed;
	right: 10px;
	top: 10px;
	width: 200px;
	display: none;
}

.ad_item {
	display: block;
	position: relative;
	clear: both;
	background-color: #fefefe;
	text-align: left;
	cursor: pointer;
}

.ad_item a {
	display: block;
	padding: 20px;
	width: 100%;
}

.ad_item:hover {
	background-color: #eeeeee;
}

.ad_item .ad_created_at {
	position: absolute;
	top: 0px;
	right: 0px;
	padding: 3px 20px;
	font-size: 9px;
}

.ads_list {
	overflow-y: auto;
	height: 100%;
}

.ads_list a {
	text-decoration: none;
	color: black;
}

.ads_list a:visited {
	color: #333;
}

.ads_list a:hover {
	color: #777;
}

.ad_show {
	width: 100%;
	padding: 20px;
	background-color: #fafafa;
	position: relative;
}

.ad_show .ad_text {
	border: 0px solid white;
	width: 100%;
	height: 50%;
	text-align: left;
}

.ad_show .ad_images {
	width: 100%;
	height: 40%;
}

.ad_show .ad_images .img_review img{
	width: 100%;
	height: auto;
	padding: 20px;
	border-bottom: 3px solid #eaeaea;
}

.ad_show .title {
	position: absolute;
	padding: 5px;
	right: 0px;
	top: 0px;
	background-color: #efefef;
}

#ads_index_mini {
	background-color: #fefefe;
	position: fixed;
	left: 10px;
	top: 80px;
	display: none;
	width: 19%;
	height: 80%;
	border-radius: 3px;
}

